node-red/Elevator-samples/elevator-simulator/Elevator-Behavior-Simulator
[{"id":"ebf2cdad.c92e4","type":"stop virtual device","z":"7a3c2236.2a62ac","name":"Stop Elevator","deviceId":"","schema":"2bfa8b20.f56564","x":518.2857055664062,"y":843,"wires":[[]]},{"id":"79b0a5ff.525664","type":"start virtual device","z":"7a3c2236.2a62ac","name":"Start Elevator","deviceId":"","schema":"2bfa8b20.f56564","outputs":1,"x":474.8571472167969,"y":77,"wires":[["ff17fb98.405b68","de4d001.83db2"]]},{"id":"b8cbcfe1.4a74b","type":"ibmiot in","z":"7a3c2236.2a62ac","authentication":"apiKey","apiKey":"cbf0ca69.8de298","inputType":"cmd","deviceId":"","applicationId":"","deviceType":"Elevator","eventType":"+","commandType":"maintenance_command","format":"json","name":"On Maintenance Command","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":false,"allFormats":"","qos":0,"x":144.5,"y":245,"wires":[["65cfed95.74d864","dda9a053.21fc6","3deb3563.7d0cb2"]]},{"id":"3deb3563.7d0cb2","type":"set properties","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"Set Maintenance Stop","propAll":false,"prop":"1bd9b63f4b60","valueType":"msg","value":"payload.stop","x":403,"y":287.0000305175781,"wires":[[]]},{"id":"75d37f8d.184428","type":"generate event","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","evt":"0612deed98b7","name":"Send Status Event","x":792.8571166992188,"y":130,"wires":[["1d02cc33.58a5e4","13ec802d.1cf6d"]]},{"id":"6a3a7ba7.3abb74","type":"inject","z":"7a3c2236.2a62ac","name":"start 10 elevators","topic":"","payload":"{\"instances\" : 10 }","payloadType":"json","repeat":"","crontab":"","once":true,"x":127.85713958740234,"y":76,"wires":[["6c095ed2.eb6248"]]},{"id":"4042d827.9d6ff","type":"comment","z":"7a3c2236.2a62ac","name":"Start Device","info":"","x":108.35713958740234,"y":46,"wires":[]},{"id":"887088b0.38adb","type":"comment","z":"7a3c2236.2a62ac","name":"Stop Device","info":"","x":103.5,"y":802.2857055664062,"wires":[]},{"id":"3a4b8b55.65dbfc","type":"comment","z":"7a3c2236.2a62ac","name":"Handle maintenance commands","info":"","x":159.5,"y":207,"wires":[]},{"id":"a9b2085.60883f8","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"idle","func":"if(maintenanceStop){\n    state = \"maintenance\";\n    doorOpen = true;\n    direction = 0;\n    var newMotorTemp = motorTemp - 0.2;\n    motorTemp = (newMotorTemp < minMotorTemp) ? minMotorTemp : (newMotorTemp > maxMotorTemp) ? maxMotorTemp : newMotorTemp;\n    return [null,msg,msg];\n}\n\nvar shouldMove = Math.random() * 100 < 70;\nif(shouldMove === false && load ===0){//don't go to idle if there are people in the elevator\n    state = \"idle\";\n    direction = 0;\n    if(!forceOpenDoor)\n        doorOpen = false;\n    var newMotorTemp = motorTemp - 0.05;\n    motorTemp = (newMotorTemp < minMotorTemp) ? minMotorTemp : (newMotorTemp > maxMotorTemp) ? maxMotorTemp :newMotorTemp;\n    return [null,msg,null];\n}\n\n//else - prepare to move\ndo {\n    gotoFloor = Math.floor(Math.random() * (numberOfFloors - 1));\n}\nwhile(gotoFloor === currentFloor);\n\ndirection = (gotoFloor > currentFloor) ? 1 : -1;\n\nreturn [msg, null, null];\n","outputs":"3","noerr":0,"x":164.85714721679688,"y":502,"wires":[["f2a120ea.cb9d9"],["366aff28.e598f8"],["20097429.c65764"]]},{"id":"366aff28.e598f8","type":"delay","z":"7a3c2236.2a62ac","name":"Ideal state 9 sec","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":164.857177734375,"y":592,"wires":[["a9b2085.60883f8"]]},{"id":"f2a120ea.cb9d9","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"moving","func":"if(state === \"maintenance\" && maintenanceStop){\n    return [null,null]\n}\nif(state !== \"moving\"){//if just started moving \nif(!forceOpenDoor)\n    doorOpen = false;\n    state = \"moving\";\n    return [null,msg];\n}\n//else while moving \nvar nextFloor = currentFloor + direction;\nif(nextFloor < 0){\n    direction = 1;\n    currentFloor = 0;\n} \nelse if(nextFloor > numberOfFloors){\n    direction = -1;\n    currentFloor = numberOfFloors;\n}\nelse{\n    currentFloor = nextFloor;\n}\n\nif(cabinSpeed <15){\ncabinSpeed = ( (cabinSpeed + 4) <= 14) ? cabinSpeed + 4 : 14;\n}\n\n\nvar newMotorTemp = motorTemp + 0.02;\nmotorTemp = (newMotorTemp < minMotorTemp) ? minMotorTemp : (newMotorTemp > maxMotorTemp) ? maxMotorTemp :newMotorTemp;\nif(maintenanceStop)\n    gotoFloor = currentFloor;\n\nif(currentFloor === gotoFloor){\n    return [msg, null];//stop\n}\nelse{\n    return [null,msg];//keep moving \n}\n","outputs":"2","noerr":0,"x":524.857177734375,"y":490,"wires":[["e9bd8565.29e8d8"],["473caff1.8a3218"]]},{"id":"473caff1.8a3218","type":"delay","z":"7a3c2236.2a62ac","name":"moving state 3 sec","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":511.857177734375,"y":560,"wires":[["f2a120ea.cb9d9"]]},{"id":"37977d.2122d084","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"loading","func":"state = \"loading\";\n\nif(maintenanceStop){\n    load = 0;\n    return msg;\n}\nvar minPersonsIn = (load === 0) ? 1 : 0;\n\n\n\nvar personsIn = Math.floor(Math.random() * (4 - minPersonsIn + 1)) + minPersonsIn;\nvar personsOut = Math.floor(Math.random() * (Math.floor(load/70) + 1));\nvar newLoad = load + (personsIn*70) - (personsOut*70);\nload = (newLoad < 0) ? 0 : newLoad;\n\nif(curtainOfLightBreak !== 1){\n    curtainOfLightBreakCount++;\n    if(curtainOfLightBreakCount === curtainOfLightBreakRate){\n        curtainOfLightBreakCount = 0;\n        curtainOfLightBreak = 1;\n        return [null, msg];\n        \n    }\n}\n\nreturn [msg, null];\n\n","outputs":"2","noerr":0,"x":935.8571166992188,"y":451,"wires":[["b13c161f.bd64c"],["f68b590d.847a68"]]},{"id":"b13c161f.bd64c","type":"delay","z":"7a3c2236.2a62ac","name":"loading state 8 sec","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":953.857177734375,"y":601,"wires":[["a9b2085.60883f8"]]},{"id":"6c095ed2.eb6248","type":"function","z":"7a3c2236.2a62ac","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Elevator0\" + (i+1); \n    } else {\n        deviceId = \"Elevator\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":303,"y":77,"wires":[["79b0a5ff.525664","859dee1b.a43d98"]]},{"id":"c7a620db.7ce3c","type":"function","z":"7a3c2236.2a62ac","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Elevator0\" + (i+1); \n    } else {\n        deviceId = \"Elevator\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":328.6428527832031,"y":840,"wires":[["ebf2cdad.c92e4"]]},{"id":"5d581616.69d43","type":"inject","z":"7a3c2236.2a62ac","name":"stop 10 elevators","topic":"","payload":"{\"instances\" : 10 }","payloadType":"json","repeat":"","crontab":"","once":false,"x":135.5,"y":837,"wires":[["c7a620db.7ce3c"]]},{"id":"65cfed95.74d864","type":"debug","z":"7a3c2236.2a62ac","name":"","active":true,"console":"false","complete":"true","x":210.85714721679688,"y":288.20001220703125,"wires":[]},{"id":"1d02cc33.58a5e4","type":"link out","z":"7a3c2236.2a62ac","name":"Watson Out","links":["3c90948.0a605ec"],"x":987,"y":208,"wires":[]},{"id":"e3a86c64.a37fa8","type":"comment","z":"7a3c2236.2a62ac","name":"Watson IoT","info":"","x":1043,"y":175,"wires":[]},{"id":"e9bd8565.29e8d8","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"Stopping","func":"state = \"stopped\";\ndoorOpen = true;\ncabinSpeed = 0;\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":753.5,"y":476,"wires":[["447022a1.5a3de4"]]},{"id":"447022a1.5a3de4","type":"delay","z":"7a3c2236.2a62ac","name":"stopped state 6 sec","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":746.5,"y":551,"wires":[["37977d.2122d084"]]},{"id":"20097429.c65764","type":"delay","z":"7a3c2236.2a62ac","name":"maintenance Stop For 10 minutes ","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220.5,"y":644,"wires":[["4a1a913d.3549a8"]]},{"id":"4a1a913d.3549a8","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"Done Maintenance Stop","func":"if(maintenanceStop){\n    maintenanceStop = false;\n    maintenanceReason = \"\";\n    return msg;\n}\nelse\n    return null;","outputs":"1","noerr":0,"x":191.5,"y":691,"wires":[["a9b2085.60883f8"]]},{"id":"ff17fb98.405b68","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"check if not in maintenance state","func":"if(state === \"maintenance\"){\n    return [null, msg];\n}\nelse {\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":791.5,"y":66,"wires":[["75d37f8d.184428"],["13ec802d.1cf6d"]]},{"id":"13ec802d.1cf6d","type":"delay","z":"7a3c2236.2a62ac","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":779.5,"y":187,"wires":[["ff17fb98.405b68"]]},{"id":"dda9a053.21fc6","type":"set properties","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"Set Maintenance Reason","propAll":false,"prop":"bd4d2913cb07","valueType":"msg","value":"payload.reason","x":412.357177734375,"y":243.00001525878906,"wires":[[]]},{"id":"78075622.47c5f8","type":"delay","z":"7a3c2236.2a62ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":501.357177734375,"y":340.0000305175781,"wires":[["401299a1.255ad"]]},{"id":"401299a1.255ad","type":"generate event","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","evt":"21024c33b8dd","name":"Send Maintenance Stop","x":724.357177734375,"y":322.0000305175781,"wires":[["1d02cc33.58a5e4"]]},{"id":"b7954f44.42cb6","type":"comment","z":"7a3c2236.2a62ac","name":"Elevator States","info":"","x":365.5,"y":439.66668701171875,"wires":[]},{"id":"298f06bd.073ada","type":"device listener","z":"7a3c2236.2a62ac","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["1bd9b63f4b60"],"name":"On Maintenance Stop","x":105,"y":347,"wires":[["62310d18.d9b064"]]},{"id":"de4d001.83db2","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"Rand max motor temp","func":"var outOfNormalRange = Math.random() * 100 < 15;\nif(outOfNormalRange){\n    maxMotorTemp = Math.floor(Math.random() * (220 - 185 + 1)) + 185;\n}\nreturn msg;","outputs":"1","noerr":0,"x":156.8333282470703,"y":445,"wires":[["a9b2085.60883f8"]]},{"id":"859dee1b.a43d98","type":"debug","z":"7a3c2236.2a62ac","name":"","active":true,"console":"false","complete":"false","x":425,"y":158,"wires":[]},{"id":"7828305c.bf733","type":"debug","z":"7a3c2236.2a62ac","name":"","active":true,"console":"false","complete":"false","x":1468.7857055664062,"y":331.9999809265137,"wires":[]},{"id":"f6437918.9d8f3","type":"debug","z":"7a3c2236.2a62ac","name":"","active":true,"console":"false","complete":"false","x":1465.21435546875,"y":445.5714416503906,"wires":[]},{"id":"62310d18.d9b064","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"","func":"if(maintenanceStop === false){\n    maintenanceReason = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":343,"wires":[["78075622.47c5f8"]]},{"id":"f68b590d.847a68","type":"delay","z":"7a3c2236.2a62ac","name":"loading with curtainOfLightBrea 11 sec","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":945.5,"y":663,"wires":[["17743f63.4cbc41"]]},{"id":"17743f63.4cbc41","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"reset curtainOfLightBreak","func":"curtainOfLightBreak = 0;\nreturn msg;","outputs":"1","noerr":0,"x":951.5,"y":735,"wires":[["a9b2085.60883f8"]]},{"id":"9c336e8b.83daf8","type":"device function","z":"7a3c2236.2a62ac","deviceId":"","schema":"2bfa8b20.f56564","name":"Set Cleaness of floor","func":"var score = 0;\nif(msg.result.images[0].classifiers[0]){\n    var classes = msg.result.images[0].classifiers[0].classes;    \n  if(classes[0].score >= 0.5)    \n    score=classes[0].score;\n  else\n    score=0;\n}\ncleanessOfFloor = score;","outputs":1,"noerr":0,"x":885.5,"y":1244,"wires":[[]]},{"id":"2bfa8b20.f56564","type":"Device Schema","z":"","deviceType":"Elevator","props":[{"guid":"e76a0e692587","name":"motorTemp","random":{"func":"floating","args":{"min":150,"max":170,"fixed":4}}},{"guid":"c2881d12e8f3","name":"currentFloor","random":{"func":"integer","args":{"min":0,"max":6}}},{"guid":"38416d39cffe","name":"doorOpen","defaultValue":{"type":"bool","value":"false"}},{"guid":"745ce852562a","name":"state","defaultValue":{"type":"str","value":"idle"}},{"guid":"d1ebf05ff8fb","name":"numberOfFloors","defaultValue":{"type":"num","value":"6"}},{"guid":"80cc3cb81053","name":"cabinTemp","random":{"func":"integer","args":{"min":70,"max":95}}},{"guid":"40741d3132a4","name":"cabinSpeed","defaultValue":{"type":"num","value":"0"}},{"guid":"297fd95abda8","name":"direction","defaultValue":{"type":"num","value":"1"}},{"guid":"bcca0e31b9d6","name":"load","defaultValue":{"type":"num","value":"0"}},{"guid":"c15961c2f7bf","name":"gotoFloor","defaultValue":{"type":"num","value":"0"}},{"guid":"1bd9b63f4b60","name":"maintenanceStop","defaultValue":{"type":"bool","value":"false"}},{"guid":"717226438586","name":"forceOpenDoor","defaultValue":{"type":"bool","value":"false"}},{"guid":"bd4d2913cb07","name":"maintenanceReason","defaultValue":{"type":"str","value":""}},{"guid":"efd6898dd4db","name":"maxMotorTemp","defaultValue":{"type":"num","value":"180"}},{"guid":"438e94df7c4a","name":"minMotorTemp","defaultValue":{"type":"num","value":"140"}},{"guid":"2b397533cfa2","name":"curtainOfLightBreak","defaultValue":{"type":"num","value":"0"}},{"guid":"299639e87d50","name":"cleanessOfFloor","defaultValue":{"type":"num","value":"1"}},{"guid":"ba7d2793453d","name":"curtainOfLightBreakCount","defaultValue":{"type":"num","value":"0"}},{"guid":"459e0d4c3af6","name":"curtainOfLightBreakRate","defaultValue":{"type":"num","value":"10"}}],"evts":[{"guid":"0612deed98b7","name":"Status","payload":{"properties":{"0":"e76a0e692587","1":"c2881d12e8f3","2":"38416d39cffe","3":"745ce852562a","4":"d1ebf05ff8fb","5":"80cc3cb81053","6":"40741d3132a4","7":"297fd95abda8","8":"bcca0e31b9d6","9":"2b397533cfa2","10":"299639e87d50","length":11,"prevObject":{"0":"e76a0e692587","1":"c2881d12e8f3","2":"38416d39cffe","3":"745ce852562a","4":"d1ebf05ff8fb","5":"80cc3cb81053","6":"40741d3132a4","7":"297fd95abda8","8":"bcca0e31b9d6","9":"2b397533cfa2","10":"299639e87d50","length":11,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"5":{},"6":{},"7":{},"8":{},"9":{},"10":{},"length":11,"prevObject":{"0":{"sizzle1475648369354":{"parentNode":[45130,51,true]}},"selector":".red-ui-editableList-item-content","context":{},"length":1},"context":{},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{}},"context":{}}}},{"guid":"21024c33b8dd","name":"Maintenance_event","payload":{"properties":{"0":"1bd9b63f4b60","1":"bd4d2913cb07","length":2,"prevObject":{"0":"1bd9b63f4b60","1":"bd4d2913cb07","length":2,"prevObject":{"0":{},"1":{},"length":2,"prevObject":{"0":{"sizzle1475648369354":{"parentNode":[45131,51,true]}},"selector":".red-ui-editableList-item-content","context":{},"length":1},"context":{},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{}},"context":{}}}}]},{"id":"cbf0ca69.8de298","type":"ibmiot","z":"7a3c2236.2a62ac","name":"unw4xh","keepalive":"60","cleansession":true,"appId":"","shared":false}]
