node-red/Elevator-samples/elevator-simulator/Elevator-User-Interface
[{"id":"7945d39d.da12bc","type":"comment","z":"d2b488fd.09546","name":"Dashboard UI","info":"","x":285.35711669921875,"y":52.19999694824219,"wires":[]},{"id":"bf085982.0e7ae","type":"function","z":"d2b488fd.09546","name":"clear devices","func":"var devices = [];\n\nflow.set(\"activeDevices\", devices);\n\nreturn {payload: devices};","outputs":1,"noerr":0,"x":383.85711669921875,"y":1721.199951171875,"wires":[[]]},{"id":"f5936a7a.5716d8","type":"inject","z":"d2b488fd.09546","name":"clear device list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.85712432861328,"y":1721.2000122070312,"wires":[["bf085982.0e7ae"]]},{"id":"81aeb2b5.97943","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":299.3570861816406,"y":1594.9142303466797,"wires":[["49a14766.877f2","2ac96833.e1366","574a0e8d.e99548","46989c86.f07f44","760b4dd6.080774","d36cfe4d.5d6be","69e61ade.41bd64","ae85c2e8.d81fc","c5e9738d.a97b28","c6cff69f.237c5","adee5ad7.b07238","999f477b.8d835","72d61e2c.4d8788","3a985f1b.fd492","db903802.60626","21c8048e.8e7a84","9d8756ae.35d38","7e71cbf4.51bc0c","febd09d3.fa4a2","6cd93a1.235ee44","a264265c.762db8","4bc382e2.cb1cec","259c985.2210968","10e5ecd0.16f183","8f44a763.dec878"]]},{"id":"49a14766.877f2","type":"change","z":"d2b488fd.09546","name":"format payload","rules":[{"t":"move","p":"payload.properties.motorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460.9285430908203,"y":216.34286308288574,"wires":[["32ec8b37.7ed21c"]]},{"id":"e2fd9c21.e5173","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"","name":"get device instance properties","propAll":true,"prop":"9f9135f2be17","valueType":"msg","value":"payload","x":869.5236968994141,"y":1820.6166667938232,"wires":[["81aeb2b5.97943"]]},{"id":"2ac96833.e1366","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":7,"width":0,"height":0,"name":"Load","label":"load","format":"{{msg.payload.properties.load}}","layout":"row-left","x":429.357120513916,"y":767.1999969482422,"wires":[]},{"id":"574a0e8d.e99548","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":2,"width":0,"height":0,"name":"Cabin Temp","label":"Cabin Temp","format":"{{msg.payload.properties.cabinTemp}}","layout":"row-left","x":609.3571166992188,"y":809.6999969482422,"wires":[]},{"id":"46989c86.f07f44","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":3,"width":0,"height":0,"name":"Cabin Speed","label":"Cabin Speed","format":"{{msg.payload.properties.cabinSpeed}}","layout":"row-left","x":468.357120513916,"y":869.1999969482422,"wires":[]},{"id":"760b4dd6.080774","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":4,"width":0,"height":0,"name":"State","label":"State","format":"{{msg.payload.properties.state}}","layout":"row-left","x":465.0237922668457,"y":924.8666496276855,"wires":[]},{"id":"d36cfe4d.5d6be","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":6,"width":0,"height":0,"name":"Current Floor","label":"Current Floor","format":"{{msg.payload.properties.currentFloor}}","layout":"row-left","x":479.69045639038086,"y":996.2000064849854,"wires":[]},{"id":"69e61ade.41bd64","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":5,"width":0,"height":0,"name":"Door open","label":"Door open","format":"{{msg.payload.properties.doorOpen}}","layout":"row-left","x":494.0237693786621,"y":1038.8666763305664,"wires":[]},{"id":"ae85c2e8.d81fc","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":8,"width":0,"height":0,"name":"Direction","label":"Direction","format":"{{msg.payload.properties.direction === 1 ? \"UP\" : \"DOWN\"}}","layout":"row-left","x":573.3571166992188,"y":1082.5333099365234,"wires":[]},{"id":"32ec8b37.7ed21c","type":"ui_slider","z":"d2b488fd.09546","name":"Motor Temp","label":"Motor Temp","group":"b5af1156.b3d06","order":1,"width":0,"height":0,"passthru":false,"topic":"","min":"120","max":"220","x":651.6428070068359,"y":212.62857246398926,"wires":[["c5790cc8.0a864"]]},{"id":"5b6aaa9.4b1c854","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":301.9285430908203,"y":212.34286308288574,"wires":[["49a14766.877f2"]]},{"id":"2aa5ca6c.10514e","type":"function","z":"d2b488fd.09546","name":"set device id","func":"flow.set(\"deviceId\",msg.payload.selectedId);\nreturn {payload:{deviceId:msg.payload.selectedId}};","outputs":1,"noerr":0,"x":833.0237503051758,"y":1654.1999626159668,"wires":[["e2fd9c21.e5173"]]},{"id":"77141490.e58194","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":294.357120513916,"y":763.1999969482422,"wires":[["2ac96833.e1366"]]},{"id":"24e4fc47.70adf4","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":296.357120513916,"y":816.1999969482422,"wires":[["574a0e8d.e99548","4bc382e2.cb1cec"]]},{"id":"e50b10da.630d88","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":323.357120513916,"y":871.1999969482422,"wires":[["46989c86.f07f44"]]},{"id":"6480bcbd.e39f6c","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":319.35711669921875,"y":914.1999969482422,"wires":[["760b4dd6.080774"]]},{"id":"d0604786.802d78","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":326.357120513916,"y":993.1999969482422,"wires":[["d36cfe4d.5d6be"]]},{"id":"cbdd215d.2bf34","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":327.357120513916,"y":1049.1999969482422,"wires":[["69e61ade.41bd64"]]},{"id":"42438496.937ec4","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":319.357120513916,"y":1093.1999969482422,"wires":[["ae85c2e8.d81fc"]]},{"id":"c5790cc8.0a864","type":"function","z":"d2b488fd.09546","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":824.071418762207,"y":214.20001220703125,"wires":[["fc66de7b.2705d"]]},{"id":"b141a570.1a5218","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["e76a0e692587"],"name":"On motor temp change","x":112.92854309082031,"y":211.34287071228027,"wires":[["5b6aaa9.4b1c854"]]},{"id":"877d23cb.a3112","type":"ui_template","z":"d2b488fd.09546","group":"96030b35.1b06","name":"Devices","order":2,"width":"0","height":"0","format":"<div ng-app=\"activeDevices\" layout = \"row\" layout-align=\"space-between\">\n\n<p>Select a device:  </p>\n<select ng-model=\"msg.payload.selectedId\" ng-change=\"send ({payload: {devices:msg.payload.devices,selectedId:msg.payload.selectedId}})\">\n    <option ng-repeat=\"id in msg.payload.devices\"\n            ng-selected=\"{{msg.payload.selectedId === id}}\"\n            value=\"{{id}}\">\n      {{id}}\n    </option>\n</select>\n</div>","storeOutMessages":true,"fwdInMessages":false,"x":647.857120513916,"y":1648.2000122070312,"wires":[["2aa5ca6c.10514e"]]},{"id":"e712ff8.6a0ba8","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["bcca0e31b9d6"],"name":"On load  Change","x":117.35712051391602,"y":762.1999969482422,"wires":[["77141490.e58194"]]},{"id":"e2c62206.fc661","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["80cc3cb81053"],"name":"On Cabin Temp  Change","x":128.35712051391602,"y":811.1999969482422,"wires":[["24e4fc47.70adf4"]]},{"id":"cbd9196c.f21fd","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["40741d3132a4"],"name":"On Cabin Speed  Change","x":137.35712051391602,"y":871.1999969482422,"wires":[["e50b10da.630d88"]]},{"id":"e974ecb1.994e7","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["745ce852562a"],"name":"On State Change","x":108.35711669921875,"y":914.1999969482422,"wires":[["6480bcbd.e39f6c"]]},{"id":"c7dbfd5e.7218c8","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["c2881d12e8f3"],"name":"On Current floor  Change","x":140.35712051391602,"y":993.1999969482422,"wires":[["d0604786.802d78"]]},{"id":"f8a9b50b.aa5918","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["38416d39cffe"],"name":"On Door Open  Change","x":131.35712051391602,"y":1049.1999969482422,"wires":[["cbdd215d.2bf34"]]},{"id":"7f533a4b.c68c44","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["297fd95abda8"],"name":"On Direction Change","x":123.35712051391602,"y":1093.1999969482422,"wires":[["42438496.937ec4"]]},{"id":"fc66de7b.2705d","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set motor Temp","propAll":false,"prop":"e76a0e692587","valueType":"msg","value":"payload","x":1010.7142868041992,"y":215.3428659439087,"wires":[[]]},{"id":"5612bb20.4804ac","type":"function","z":"d2b488fd.09546","name":"add active device","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\");\nvar deviceId = msg.payload.deviceId;\nnode.log(msg.payload.deviceId);\nif (devices.indexOf(deviceId) < 0)\n{\n    devices.push(msg.payload.deviceId);\n    flow.set(\"activeDevices\", devices);\n    if (selectedId === undefined)\n    {\n        selectedId = devices[0];\n        flow.set(\"deviceId\", selectedId);\n    }\n}\nreturn {payload: {devices:devices,selectedId:selectedId}};\n","outputs":1,"noerr":0,"x":455.2856979370117,"y":1626.7714347839355,"wires":[["877d23cb.a3112"]]},{"id":"1985f1b3.e9dee6","type":"function","z":"d2b488fd.09546","name":"remove active device","func":"var devices = flow.get(\"activeDevices\") || [];\nvar selectedId = flow.get(\"deviceId\");\n\nvar deviceId = msg.payload.deviceId;\nvar index = devices.indexOf(deviceId);\nif (index >= 0)\n{\n    devices.splice(index,1);\n    flow.set(\"activeDevices\", devices);\n\n    if (selectedId === deviceId)\n    {\n        selectedId = devices[0];\n        flow.set(\"deviceId\", selectedId);\n       \n    }\n}\nreturn {payload: {devices:devices,selectedId:selectedId}};\n","outputs":1,"noerr":0,"x":449.357120513916,"y":1670.2000122070312,"wires":[["877d23cb.a3112"]]},{"id":"314b3259.05d9f6","type":"device listener","z":"d2b488fd.09546","monitor":"start","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"2bfa8b20.f56564","props":[],"name":"device started","x":106.85712051391602,"y":1618.0571746826172,"wires":[["5612bb20.4804ac","81aeb2b5.97943"]]},{"id":"e0d4a4b7.eb1ce","type":"device listener","z":"d2b488fd.09546","monitor":"stop","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":true,"schema":"53892b2e.4c1ad4","props":[],"name":"device deleted","x":117.21426391601562,"y":1670.6285858154297,"wires":[["1985f1b3.e9dee6"]]},{"id":"c5e9738d.a97b28","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":1,"width":0,"height":0,"name":"Motor Temp","label":"Motor Temp","format":"{{msg.payload.properties.motorTemp}}","layout":"row-left","x":648.3571166992188,"y":688.1999969482422,"wires":[]},{"id":"8095234e.5fa2","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":296.357120513916,"y":676.1999969482422,"wires":[["c5e9738d.a97b28","a264265c.762db8"]]},{"id":"f2cada92.f83fb8","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["e76a0e692587"],"name":"On motor temp change","x":126.35712051391602,"y":681.1999969482422,"wires":[["8095234e.5fa2"]]},{"id":"d90e927d.81dca","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["80cc3cb81053"],"name":"On Cabin Temp change","x":112.49997329711914,"y":152.62857055664062,"wires":[["9e989837.58393"]]},{"id":"9e989837.58393","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":301.49997329711914,"y":153.6285629272461,"wires":[["c6cff69f.237c5"]]},{"id":"c6cff69f.237c5","type":"change","z":"d2b488fd.09546","name":"format payload","rules":[{"t":"move","p":"payload.properties.cabinTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460.49997329711914,"y":157.6285629272461,"wires":[["3d7ff370.2c826c"]]},{"id":"3d7ff370.2c826c","type":"ui_slider","z":"d2b488fd.09546","name":"Cabin Temp","label":"Cabin Temp","group":"b5af1156.b3d06","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"60","max":"100","x":651.2142372131348,"y":153.9142723083496,"wires":[["a9b05402.1dd158"]]},{"id":"a9b05402.1dd158","type":"function","z":"d2b488fd.09546","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":823.6428489685059,"y":155.4857120513916,"wires":[["a13c9b21.06e07"]]},{"id":"a13c9b21.06e07","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set Cabin Temp","propAll":false,"prop":"80cc3cb81053","valueType":"msg","value":"payload","x":1010.285717010498,"y":156.62856578826904,"wires":[[]]},{"id":"f902febb.be572","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set Force Open Door Temp","propAll":false,"prop":"717226438586","valueType":"msg","value":"payload","x":1046.7142906188965,"y":288.3428649902344,"wires":[[]]},{"id":"c453dabd.bd773","type":"function","z":"d2b488fd.09546","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":837.2142562866211,"y":284.3428649902344,"wires":[["f902febb.be572"]]},{"id":"adee5ad7.b07238","type":"change","z":"d2b488fd.09546","name":"format payload","rules":[{"t":"move","p":"payload.properties.forceOpenDoor","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":472.6428871154785,"y":283.62858963012695,"wires":[["8bdff69e.55c8c"]]},{"id":"708d293.de096d8","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":315.0714340209961,"y":285.3428707122803,"wires":[["adee5ad7.b07238"]]},{"id":"db52482c.066fc","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["717226438586"],"name":"On force door open change","x":128.92854690551758,"y":284.34286975860596,"wires":[["708d293.de096d8"]]},{"id":"8bdff69e.55c8c","type":"ui_switch","z":"d2b488fd.09546","name":"Force Open Door","label":"Force Open Door","group":"b5af1156.b3d06","order":4,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":668.928539276123,"y":284.05714416503906,"wires":[["c453dabd.bd773"]]},{"id":"d5587687.15d82","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set maintenance stop","propAll":false,"prop":"1bd9b63f4b60","valueType":"msg","value":"payload","x":1032.4285888671875,"y":332.48570251464844,"wires":[[]]},{"id":"95222d94.0e9b","type":"function","z":"d2b488fd.09546","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":830.9285888671875,"y":334.48570251464844,"wires":[["d5587687.15d82","5ba462ea.755234"]]},{"id":"2320b0f.63301d","type":"ui_switch","z":"d2b488fd.09546","name":"maintenanceStop","label":"maintenanceStop","group":"b5af1156.b3d06","order":5,"width":0,"height":0,"passthru":false,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":674.6428489685059,"y":341.1999816894531,"wires":[["95222d94.0e9b"]]},{"id":"999f477b.8d835","type":"change","z":"d2b488fd.09546","name":"format payload","rules":[{"t":"move","p":"payload.properties.maintenanceStop","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.3571968078613,"y":340.771427154541,"wires":[["2320b0f.63301d"]]},{"id":"e5458ee.e88c1f","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":320.7857437133789,"y":342.48570823669434,"wires":[["999f477b.8d835"]]},{"id":"b4365370.daf7e","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["1bd9b63f4b60"],"name":"On maintenanceStop change","x":134.6428565979004,"y":341.48570728302,"wires":[["e5458ee.e88c1f"]]},{"id":"d1f6cde.28eb33","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["bd4d2913cb07"],"name":"On Maintenance Reason Change","x":135,"y":1135.1999969482422,"wires":[["f04a42f.c402fc"]]},{"id":"f04a42f.c402fc","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":344,"y":1133.1999969482422,"wires":[["72d61e2c.4d8788"]]},{"id":"72d61e2c.4d8788","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":9,"width":0,"height":0,"name":"Maintenance Reason","label":"Maintenance Reason","format":"{{msg.payload.properties.maintenanceReason}}","layout":"row-left","x":541.3333206176758,"y":1138.8666591644287,"wires":[]},{"id":"3a985f1b.fd492","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":13,"width":0,"height":0,"name":"Max Motor Temp","label":"Max Motor Temp","format":"{{msg.payload.properties.maxMotorTemp}}","layout":"row-left","x":491,"y":722.1999969482422,"wires":[]},{"id":"aa067360.1fb22","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":314,"y":719.1999969482422,"wires":[["3a985f1b.fd492"]]},{"id":"f9b7abbc.2bcad","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["efd6898dd4db"],"name":"On max motor temp change","x":125,"y":720.1999969482422,"wires":[["aa067360.1fb22"]]},{"id":"9de25f7f.95aa8","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["efd6898dd4db"],"name":"On Max Motor temp change","x":125,"y":248.1999969482422,"wires":[["831d20dd.030278"]]},{"id":"831d20dd.030278","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":313,"y":249.19998931884766,"wires":[["21c8048e.8e7a84"]]},{"id":"21c8048e.8e7a84","type":"change","z":"d2b488fd.09546","name":"format payload","rules":[{"t":"move","p":"payload.properties.maxMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":473,"y":249.1999969482422,"wires":[["3baf2b6b.98f1b4"]]},{"id":"3baf2b6b.98f1b4","type":"ui_slider","z":"d2b488fd.09546","name":"Max Motor Temp","label":"Max Motor Temp","group":"b5af1156.b3d06","order":6,"width":0,"height":0,"passthru":false,"topic":"","min":"141","max":"220","x":682.7142639160156,"y":249.48569869995117,"wires":[["60a8bacc.976ac4"]]},{"id":"60a8bacc.976ac4","type":"function","z":"d2b488fd.09546","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":835.1428756713867,"y":251.05713844299316,"wires":[["6adc66df.109468"]]},{"id":"6adc66df.109468","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set max motor Temp","propAll":false,"prop":"efd6898dd4db","valueType":"msg","value":"payload","x":1041.785743713379,"y":252.1999921798706,"wires":[[]]},{"id":"c2f1e033.e4e8e8","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["c15961c2f7bf"],"name":"On Next Stop","x":102,"y":959.1999969482422,"wires":[["68bae385.8e70fc"]]},{"id":"68bae385.8e70fc","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":328,"y":959.1999969482422,"wires":[["9d8756ae.35d38"]]},{"id":"9d8756ae.35d38","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":12,"width":0,"height":0,"name":"Next Stop","label":"Next Stop","format":"{{msg.payload.properties.gotoFloor}}","layout":"row-left","x":481.3333206176758,"y":960.5333194732666,"wires":[]},{"id":"f342e24d.f1fa78","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["bcca0e31b9d6"],"name":"On load change","x":98.33332824707031,"y":107.53332901000977,"wires":[["e9ea7890.c421"]]},{"id":"e9ea7890.c421","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":307.3333282470703,"y":108.53332138061523,"wires":[["db903802.60626"]]},{"id":"db903802.60626","type":"change","z":"d2b488fd.09546","name":"format payload","rules":[{"t":"move","p":"payload.properties.load","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":466.3333282470703,"y":112.53332138061523,"wires":[["99024308.4eff2"]]},{"id":"99024308.4eff2","type":"ui_slider","z":"d2b488fd.09546","name":"Load","label":"Load","group":"b5af1156.b3d06","order":3,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"2000","x":637.0475921630859,"y":108.81903076171875,"wires":[["a85812d8.5afe6"]]},{"id":"a85812d8.5afe6","type":"function","z":"d2b488fd.09546","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":829.476203918457,"y":110.39047050476074,"wires":[["9c818a95.6ecc28"]]},{"id":"9c818a95.6ecc28","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set Load","propAll":false,"prop":"bcca0e31b9d6","valueType":"msg","value":"payload","x":996.1190719604492,"y":111.53332424163818,"wires":[[]]},{"id":"41380cb5.fb1174","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["438e94df7c4a"],"name":"On Min Motor temp change","x":131.66665649414062,"y":399.1999969482422,"wires":[["d9befcb3.89f988"]]},{"id":"d9befcb3.89f988","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":319.6666564941406,"y":400.19998931884766,"wires":[["7e71cbf4.51bc0c"]]},{"id":"7e71cbf4.51bc0c","type":"change","z":"d2b488fd.09546","name":"format payload","rules":[{"t":"move","p":"payload.properties.minMotorTemp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":479.6666564941406,"y":400.1999969482422,"wires":[["3fdc760c.456f42"]]},{"id":"3fdc760c.456f42","type":"ui_slider","z":"d2b488fd.09546","name":"Min Motor Temp","label":"Min Motor Temp","group":"b5af1156.b3d06","order":6,"width":0,"height":0,"passthru":false,"topic":"","min":"100","max":"140","x":679.3809204101562,"y":400.4856986999512,"wires":[["c688d792.98b0e"]]},{"id":"c688d792.98b0e","type":"function","z":"d2b488fd.09546","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":841.8095321655273,"y":402.05713844299316,"wires":[["8f55b30d.e2477"]]},{"id":"8f55b30d.e2477","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set min motor Temp","propAll":false,"prop":"438e94df7c4a","valueType":"msg","value":"payload","x":1048.4524002075195,"y":403.1999921798706,"wires":[[]]},{"id":"febd09d3.fa4a2","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":14,"width":0,"height":0,"name":"Min Motor Temp","label":"Min Motor Temp","format":"{{msg.payload.properties.minMotorTemp}}","layout":"row-left","x":494.3333282470703,"y":635.8666534423828,"wires":[]},{"id":"e9c28307.5842","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":327.3333282470703,"y":632.8666534423828,"wires":[["febd09d3.fa4a2"]]},{"id":"12f4fb24.69e39d","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["438e94df7c4a"],"name":"On min motor temp change","x":138.3333282470703,"y":633.8666534423828,"wires":[["e9c28307.5842"]]},{"id":"ab9ab8d0.95529","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["2b397533cfa2"],"name":"curtainOfLightBreak Change","x":125,"y":1207.1999969482422,"wires":[["a8bb4d5.94de3b"]]},{"id":"a8bb4d5.94de3b","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":344,"y":1205.1999969482422,"wires":[["6cd93a1.235ee44"]]},{"id":"6cd93a1.235ee44","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":11,"width":0,"height":0,"name":"curtain Of Light Break","label":"Curtain Of LightBreak","format":"{{msg.payload.properties.curtainOfLightBreak}}","layout":"row-left","x":541.3333206176758,"y":1210.8666591644287,"wires":[]},{"id":"a264265c.762db8","type":"ui_gauge","z":"d2b488fd.09546","name":"","group":"191e931a.2e6175","order":0,"width":0,"height":0,"gtype":"gage","title":"Motor Temp","label":"Motor Temp","format":"{{msg.payload.properties.motorTemp}}","min":0,"max":"200.00","colors":["#00b500","#e6e600","#ca3838"],"x":871.5,"y":756.1999969482422,"wires":[]},{"id":"4bc382e2.cb1cec","type":"ui_gauge","z":"d2b488fd.09546","name":"","group":"191e931a.2e6175","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"°C","format":"{{msg.payload.properties.cabinTemp}}°C","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"x":885.625,"y":832.3249969482422,"wires":[]},{"id":"58f76c02.7308f4","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set maintenance Reason","propAll":false,"prop":"bd4d2913cb07","valueType":"msg","value":"payload","x":1156,"y":367.1999969482422,"wires":[[]]},{"id":"5ba462ea.755234","type":"change","z":"d2b488fd.09546","name":"Set maintenance reason ","rules":[{"t":"set","p":"payload","pt":"msg","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":917.5,"y":367.1999969482422,"wires":[["58f76c02.7308f4"]]},{"id":"259c985.2210968","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":10,"width":0,"height":0,"name":"cleanessOfFloor","label":"Cleaness of floor","format":"{{msg.payload.properties.cleanessOfFloor}}","layout":"row-left","x":521.3333206176758,"y":1264.1999969482422,"wires":[]},{"id":"39bf317d.03edae","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":344,"y":1258.5333347320557,"wires":[["259c985.2210968"]]},{"id":"7783dc05.46888c","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["299639e87d50"],"name":"cleanessOfFloor Change","x":115,"y":1260.5333347320557,"wires":[["39bf317d.03edae"]]},{"id":"ef692c.aceb4ed8","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["459e0d4c3af6"],"name":"On curtainOfLightBreakRate","x":151.66665649414062,"y":472.53330993652344,"wires":[["86531751.06788"]]},{"id":"86531751.06788","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":339.6666564941406,"y":473.5333023071289,"wires":[["10e5ecd0.16f183"]]},{"id":"10e5ecd0.16f183","type":"change","z":"d2b488fd.09546","name":"format payload","rules":[{"t":"move","p":"payload.properties.curtainOfLightBreakRate","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":499.6666564941406,"y":473.53330993652344,"wires":[["11987f90.c8be28"]]},{"id":"11987f90.c8be28","type":"ui_slider","z":"d2b488fd.09546","name":"Curtain of Light Break Rate","label":"Curtain of Light Break Rate","group":"b5af1156.b3d06","order":6,"width":0,"height":0,"passthru":false,"topic":"","min":"10","max":"20","x":741.0475769042969,"y":482.15234565734863,"wires":[["46b7ff3a.d1f1d8"]]},{"id":"46b7ff3a.d1f1d8","type":"function","z":"d2b488fd.09546","name":"set ID","func":"msg.deviceId = flow.get(\"deviceId\");\nreturn msg;","outputs":1,"noerr":0,"x":928.476188659668,"y":468.7237777709961,"wires":[["7c61e3ae.c9eb8c"]]},{"id":"7c61e3ae.c9eb8c","type":"set properties","z":"d2b488fd.09546","deviceId":"","schema":"2bfa8b20.f56564","name":"Set Curtain of Light Break Rate","propAll":false,"prop":"459e0d4c3af6","valueType":"msg","value":"payload","x":1148.452392578125,"y":469.8666305541992,"wires":[[]]},{"id":"8f44a763.dec878","type":"ui_text","z":"d2b488fd.09546","group":"2ca87e0b.6c7232","order":15,"width":0,"height":0,"name":"Curtain of Light Break Rate","label":"Curtain of Light Break Rate","format":"{{msg.payload.properties.curtainOfLightBreakRate}}","layout":"row-left","x":728,"y":1330.8666744232178,"wires":[]},{"id":"1f1a3732.a2ff29","type":"switch","z":"d2b488fd.09546","name":"","property":"payload.deviceId","propertyType":"msg","rules":[{"t":"eq","v":"deviceId","vt":"flow"}],"checkall":"true","outputs":1,"x":425.6666717529297,"y":1325.2000064849854,"wires":[["8f44a763.dec878"]]},{"id":"60bdd1ef.e3e328","type":"device listener","z":"d2b488fd.09546","monitor":"property","monitorAll":false,"deviceId":"","allDeviceIds":true,"allSchemas":false,"allProps":false,"schema":"2bfa8b20.f56564","props":["459e0d4c3af6"],"name":"On Curtain of Light Break Rate Change","x":155,"y":1330.5333347320557,"wires":[["1f1a3732.a2ff29"]]},{"id":"2ca87e0b.6c7232","type":"ui_group","z":"d2b488fd.09546","name":"Elevator Properties","tab":"7ede9cbf.a1f5f4","order":3,"disp":true,"width":"6"},{"id":"b5af1156.b3d06","type":"ui_group","z":"d2b488fd.09546","name":"Elevator Control","tab":"7ede9cbf.a1f5f4","order":2,"disp":true,"width":"6"},{"id":"2bfa8b20.f56564","type":"Device Schema","z":"","deviceType":"Elevator","props":[{"guid":"e76a0e692587","name":"motorTemp","random":{"func":"floating","args":{"min":150,"max":170,"fixed":4}}},{"guid":"c2881d12e8f3","name":"currentFloor","random":{"func":"integer","args":{"min":0,"max":6}}},{"guid":"38416d39cffe","name":"doorOpen","defaultValue":{"type":"bool","value":"false"}},{"guid":"745ce852562a","name":"state","defaultValue":{"type":"str","value":"idle"}},{"guid":"d1ebf05ff8fb","name":"numberOfFloors","defaultValue":{"type":"num","value":"6"}},{"guid":"80cc3cb81053","name":"cabinTemp","random":{"func":"integer","args":{"min":70,"max":95}}},{"guid":"40741d3132a4","name":"cabinSpeed","defaultValue":{"type":"num","value":"0"}},{"guid":"297fd95abda8","name":"direction","defaultValue":{"type":"num","value":"1"}},{"guid":"bcca0e31b9d6","name":"load","defaultValue":{"type":"num","value":"0"}},{"guid":"c15961c2f7bf","name":"gotoFloor","defaultValue":{"type":"num","value":"0"}},{"guid":"1bd9b63f4b60","name":"maintenanceStop","defaultValue":{"type":"bool","value":"false"}},{"guid":"717226438586","name":"forceOpenDoor","defaultValue":{"type":"bool","value":"false"}},{"guid":"bd4d2913cb07","name":"maintenanceReason","defaultValue":{"type":"str","value":""}},{"guid":"efd6898dd4db","name":"maxMotorTemp","defaultValue":{"type":"num","value":"180"}},{"guid":"438e94df7c4a","name":"minMotorTemp","defaultValue":{"type":"num","value":"140"}},{"guid":"2b397533cfa2","name":"curtainOfLightBreak","defaultValue":{"type":"num","value":"0"}},{"guid":"299639e87d50","name":"cleanessOfFloor","defaultValue":{"type":"num","value":"1"}},{"guid":"ba7d2793453d","name":"curtainOfLightBreakCount","defaultValue":{"type":"num","value":"0"}},{"guid":"459e0d4c3af6","name":"curtainOfLightBreakRate","defaultValue":{"type":"num","value":"10"}}],"evts":[{"guid":"0612deed98b7","name":"Status","payload":{"properties":{"0":"e76a0e692587","1":"c2881d12e8f3","2":"38416d39cffe","3":"745ce852562a","4":"d1ebf05ff8fb","5":"80cc3cb81053","6":"40741d3132a4","7":"297fd95abda8","8":"bcca0e31b9d6","9":"2b397533cfa2","10":"299639e87d50","length":11,"prevObject":{"0":"e76a0e692587","1":"c2881d12e8f3","2":"38416d39cffe","3":"745ce852562a","4":"d1ebf05ff8fb","5":"80cc3cb81053","6":"40741d3132a4","7":"297fd95abda8","8":"bcca0e31b9d6","9":"2b397533cfa2","10":"299639e87d50","length":11,"prevObject":{"0":{},"1":{},"2":{},"3":{},"4":{},"5":{},"6":{},"7":{},"8":{},"9":{},"10":{},"length":11,"prevObject":{"0":{"sizzle1475648369354":{"parentNode":[45130,51,true]}},"selector":".red-ui-editableList-item-content","context":{},"length":1},"context":{},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{}},"context":{}}}},{"guid":"21024c33b8dd","name":"Maintenance_event","payload":{"properties":{"0":"1bd9b63f4b60","1":"bd4d2913cb07","length":2,"prevObject":{"0":"1bd9b63f4b60","1":"bd4d2913cb07","length":2,"prevObject":{"0":{},"1":{},"length":2,"prevObject":{"0":{"sizzle1475648369354":{"parentNode":[45131,51,true]}},"selector":".red-ui-editableList-item-content","context":{},"length":1},"context":{},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{}},"context":{}}}}]},{"id":"96030b35.1b06","type":"ui_group","z":"d2b488fd.09546","name":"Instance","tab":"7ede9cbf.a1f5f4","order":1,"disp":true,"width":"6"},{"id":"53892b2e.4c1ad4","type":"Device Schema","z":"d2b488fd.09546","deviceType":"TempCtrl","props":[{"guid":"f759a59b8ba1","name":"actualTemp","random":{"func":"integer","args":{"min":0,"max":40}}},{"guid":"f4df86222429","name":"desiredTemp","random":{"func":"integer","args":{"min":20,"max":25}}}],"evts":[{"guid":"3b863fdbd672","name":"Room Temperature ","payload":{"properties":{"0":"f759a59b8ba1","1":"f4df86222429","length":2,"prevObject":{"0":"f759a59b8ba1","1":"f4df86222429","length":2,"prevObject":{"0":{},"1":{},"length":2,"prevObject":{"0":{"sizzle1473600474712":{"parentNode":[10432,45,true]}},"selector":".red-ui-editableList-item-content","context":{},"length":1},"context":{},"selector":".red-ui-editableList-item-content .node-input-evts-payload option:selected"},"context":{}},"context":{}}}}]},{"id":"191e931a.2e6175","type":"ui_group","z":"d2b488fd.09546","name":"Dashboard","tab":"d697fe4b.3516d","disp":true,"width":"6"},{"id":"7ede9cbf.a1f5f4","type":"ui_tab","z":"d2b488fd.09546","name":"Elevator","icon":"dashboard"},{"id":"d697fe4b.3516d","type":"ui_tab","z":"d2b488fd.09546","name":"Dashboard","icon":"dashboard"}]
