node-red/Elevator-samples/elevator-simulator/Elevator-Connector
[{"id":"10dc60d0.9c32d7","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"9e28d91e.7ce0a8","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator1","x":780,"y":56.5,"wires":[]},{"id":"e246e9d4.9e2768","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"7125a632.992a","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator2","x":875.5,"y":93.5,"wires":[]},{"id":"28145639.29ed2a","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5e669e3c.a8568","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator3","x":783.5,"y":143.5,"wires":[]},{"id":"d9a534a.60391c8","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"d23cb54a.0675e","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator4","x":873.5,"y":179.5,"wires":[]},{"id":"98e53e7.76a54c","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"91d0aa4a.d15f58","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator5","x":785.5,"y":229.5,"wires":[]},{"id":"9fa691f9.d1688","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"712ed78.c655b28","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator6","x":874.5,"y":266.5,"wires":[]},{"id":"67640fad.08db7","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"1aff8f15.7f2dc9","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator7","x":788.5,"y":316.5,"wires":[]},{"id":"c23b7f3d.19342","type":"switch","z":"697ce7b8.228f9","name":"switch device Id","property":"deviceId","propertyType":"msg","rules":[{"t":"eq","v":"Elevator01","vt":"str"},{"t":"eq","v":"Elevator02","vt":"str"},{"t":"eq","v":"Elevator03","vt":"str"},{"t":"eq","v":"Elevator04","vt":"str"},{"t":"eq","v":"Elevator05","vt":"str"},{"t":"eq","v":"Elevator06","vt":"str"},{"t":"eq","v":"Elevator07","vt":"str"},{"t":"eq","v":"Elevator08","vt":"str"},{"t":"eq","v":"Elevator09","vt":"str"},{"t":"eq","v":"Elevator10","vt":"str"}],"checkall":"false","outputs":10,"x":568,"y":127.5,"wires":[["10dc60d0.9c32d7"],["e246e9d4.9e2768"],["28145639.29ed2a"],["d9a534a.60391c8"],["98e53e7.76a54c"],["9fa691f9.d1688"],["67640fad.08db7"],["77bda032.4ce6d"],["2857f56.038950a"],["713b2008.624678"]]},{"id":"3c90948.0a605ec","type":"link in","z":"697ce7b8.228f9","name":"Watson Out","links":["1d02cc33.58a5e4"],"x":206,"y":44.5,"wires":[["e80fd7cf.580c5"]]},{"id":"77bda032.4ce6d","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"cf9f1603.0ff728","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator8","x":873.5,"y":352.5,"wires":[]},{"id":"2857f56.038950a","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"2d6fd391.ead11c","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator9","x":792.5,"y":401.5,"wires":[]},{"id":"713b2008.624678","type":"wiotp out","z":"697ce7b8.228f9","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5f3d31cb.14edf8","deviceType":"","deviceId":"","event":"","format":"json","name":"Elevator10","x":888.5,"y":449.5,"wires":[]},{"id":"e80fd7cf.580c5","type":"change","z":"697ce7b8.228f9","name":"","rules":[{"t":"move","p":"eventOrCommandType","pt":"msg","to":"event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":311,"y":112.5,"wires":[["734eea74.07de14"]]},{"id":"73bc4441.fd5904","type":"debug","z":"697ce7b8.228f9","name":"","active":true,"console":"false","complete":"false","x":550.5,"y":28,"wires":[]},{"id":"734eea74.07de14","type":"change","z":"697ce7b8.228f9","name":"","rules":[{"t":"change","p":"payload.d.direction","pt":"msg","from":"1","fromt":"num","to":"UP","tot":"str"},{"t":"change","p":"payload.d.direction","pt":"msg","from":"-1","fromt":"num","to":"DOWN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":387,"y":50.25,"wires":[["c23b7f3d.19342"]]},{"id":"9128b533.28b6c","type":"function","z":"697ce7b8.228f9","name":"setDeviceId","func":"var deviceMsgs = []\nfor(var i = 0; i < msg.payload.instances; i++){\n    var deviceId;\n    if(i < 9) {\n        \n        deviceId = \"Elevator0\" + (i+1); \n    } else {\n        deviceId = \"Elevator\" + (i+1); \n    }\n    deviceMsgs.push({payload: {deviceId: deviceId, authToken: \"password\"}});\n}\nreturn [deviceMsgs];\n","outputs":1,"noerr":0,"x":355.84288024902344,"y":392.2000274658203,"wires":[["1b74d19d.318cfe"]]},{"id":"4a7e0383.37a6f4","type":"inject","z":"697ce7b8.228f9","name":"Register 10 elevators","topic":"","payload":"{\"instances\" : 10 }","payloadType":"json","repeat":"","crontab":"","once":true,"x":296.6999969482422,"y":327.2000274658203,"wires":[["9128b533.28b6c"]]},{"id":"1b74d19d.318cfe","type":"device-manager","z":"697ce7b8.228f9","auth":"api","name":"Register Elevators","apiKey":"bc1de925.67c888","deviceType":"Elevator","method":"Create","deviceId":"","password":"","x":498.4999694824219,"y":463,"wires":[[]]},{"id":"9e28d91e.7ce0a8","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator01","org":"unw4xh","devType":"Elevator","devId":"Elevator01"},{"id":"7125a632.992a","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator02","org":"unw4xh","devType":"Elevator","devId":"Elevator02"},{"id":"5e669e3c.a8568","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator03","org":"unw4xh","devType":"Elevator","devId":"Elevator03"},{"id":"d23cb54a.0675e","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator04","org":"unw4xh","devType":"Elevator","devId":"Elevator04"},{"id":"91d0aa4a.d15f58","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator05","org":"unw4xh","devType":"Elevator","devId":"Elevator05"},{"id":"712ed78.c655b28","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator06","org":"unw4xh","devType":"Elevator","devId":"Elevator06"},{"id":"1aff8f15.7f2dc9","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator07","org":"unw4xh","devType":"Elevator","devId":"Elevator07"},{"id":"cf9f1603.0ff728","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator08","org":"unw4xh","devType":"Elevator","devId":"Elevator08"},{"id":"2d6fd391.ead11c","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator09","org":"37ta27","devType":"Elevator","devId":"Elevator09"},{"id":"5f3d31cb.14edf8","type":"wiotp-credentials","z":"697ce7b8.228f9","name":"Elevator10","org":"unw4xh","devType":"Elevator","devId":"Elevator10"},{"id":"bc1de925.67c888","type":"wiotp","z":"697ce7b8.228f9","name":"unw4xh"}]
